<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<main class="bg-gray-100 px-0 py-0 sm:px-0 lg:px-0">
  <div class="max-w-8xl mx-auto">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>